/* Game Content - fills entire main container */
.gameContent {
  flex: 1;
  min-height: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gameIframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
